
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Caveat:wght@400..700&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 4px 12px 0 black;
    margin: auto;
    padding: 20px;
    width: 70%;

}

body{
    background-color: blue;
}


ul{
    display: flex;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
} 

li{
    margin: 0;
    padding: 10px;

}

li:hover{
    background-color: gray;
    color: greenyellow;
}

a{
    text-decoration: none;
    font-size: 20px;
}

a:hover{
    color: greenyellow;
}


.section{
    padding: 20px;
    width: 80%;
    height: 70%;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 4px 12px 0 black;
    margin:auto;
}

footer{
    color: white;
    background-color: black;
    margin-top: 20px;
}